@page "/trending"
@inject HttpClient httpClient

<PageTitle>Counter</PageTitle>

<MudDivider  Vertical/>
<MudText Align="Align.Center" Typo="Typo.h4">Trending</MudText>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="TrendingButton">Click me</button>

@code {
    private int currentCount = 0;

    private void TrendingButton()
    {
        currentCount++;
        StateHasChanged();
    }
}
